accordion-width-chart {
   
        .acardion{
            transition: height 200ms cubic-bezier(.06,.97,1,1.17);
            width: 97.6%;
            margin: 0 auto;    
            position: relative;
        }
        .open-list{
            height:16vw
        }
        .close-list{
            height: 0px;  
        }
        .open-down-scroll{
            margin-bottom: 9vh;
        }
    
        .card-content-ios{            
            width: 100%;
            .data{     
              
                float: left;
                display: flex;
                font-size: 1.5em;
            }
            .dollar{
                float: right;
                align-items: center;
                display: flex;
                span{
                    color: grey;
                    font-size: 1.5em;
                    margin-left: 13px;
                    
                }
            }
        }  

       

    .first-card{
       
        align-items: center;
        display: flex;
        margin-bottom: 5px
    }
      


  
*[fit-content]{
    max-width: fit-content;
    width: fit-content;
}
*[greyColor]{
    color: grey
}

}
