page-lines {
    margin-top: 25px;
     .connection-lines{
        height: 9px;
        width: 4px;
        border-radius: 13px;
        background-color: silver;
        position: relative;
        left: 8px;
        top: 19px;
        margin-top: 2px;
        
     }
 }
