page-payments {
    ion-content{
        .scroll-content{
            background-color: Gainsboro 
        }
        .card-ios{
            width: 100%;
            margin: 20px 0;
        }
        
    }
}
