page-hotel {
    ion-content{
        .scroll-content{
            top:7vh;
        }
        [col-4]{
            max-width: 32.33333%;
            width: 32.33333%;
            padding: 15px;
            .in-card{
                position: relative;
                height: 100%;
                width: 100%;
                margin-left: 0px;           
                
                
               .edit{
                   float:right;
               }
                .image-hotel{

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 120px;
                width: 120px;
                margin: 0 auto;
                border-radius: 50%;
                border: 2px solid white
                }            
                .text{
               text-align: center;        
                color: black;
                }
                .name{
                    font-size: 1.3em;
                }
                .information{
                    font-size: 1em;
                  
                }
                .address{
                    font-size: 1em;
                   
                }
                .buttons-grid{
                    position: absolute;
                    bottom: -10px

                }
                .button-outline-ios-newblue, .button-outline-android-newblue {
                    border-color: black;
                    color: black;
                    border: 2px solid black;
                    font-weight: bold;
                    height: 2.1em
                }
                .button-outline-ios-newblue.activated{
                    background: none
                }
            
             }
            
        }
    }
}
