page-hotel {
    ion-content{
       
        .card{           
            padding: 10px;
            border-bottom: 8px solid #980b2e;
            margin: 5vh 2vh;
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
          
        }
        .buttons-grid{
           margin-top: 14vh;
        }
        .foto{
            height: 10vh;
            width: 10vh;
            border-radius: 50%;
            background-color: #980b2e;
            float: left;
        }
        .text{
           float: right;
           margin-right: 2vh;
        }
        .name{
            font-size: 2.2vw;
        }
        .tel{
            font-size: 1.5vw;
            color: grey
        }
    }
}
