page-chart {
    .acardion{
        transition: height 200ms cubic-bezier(.06,.97,1,1.17);
        width: 97.6%;
        margin: 0 auto;

        margin-top: -6px;
        margin-bottom: 21px;
        position: relative;
    }
    .open-list{
        height:16vw
    }
    .close-list{
        height: 0px;  
    }
    .open-down-scroll{
        margin-bottom: 9vh;
    }
}
