page-chart {
    .acardion{
        transition: height 1000ms cubic-bezier(.06,.97,1,1.17);
        width: 97.6%;
        margin: 0 auto;
        margin-bottom: 6px;
        position: relative;
    }
    .open-list{
        height:16vw
    }
    .close-list{
        height: 0px;  
    }
}
