page-map {


      .bot {
        position: absolute;
        height: 27vw;
        width: 100%;
        bottom: -400px;
        background: white;  
        transition: bottom 1s;
        z-index: 99999999
      }
      .bottom{
        bottom: 0;
        position: absolute;
        height:27vw;
        width: 100%; 
        background: white;  
        transition: bottom 1s;
        z-index: 99999999
       }
     
    
#map{
    height: 100%;
     width: 100%
}
.button-ios{
    color: #999;
    background-color: white;
}
.button-ios.activated{
  background-color: white;
}
.content{
 position: absolute;
 z-index: 999999;
 height: 100%;
 width: 100%;
  
}
.menuopen{
  z-index:9999999;
  position:absolute;
   top:0; 
   left:0  
}
.orderCar{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: LightGray ;
  display: flex;
  align-items: center;
  ion-icon{
    font-size: 55px;
    color: #6b0b0b;
    margin: 0 auto;
  }
}
ion-grid{
  left: 9%;
  position: relative;
ion-row{
width: 70%;
}
}
.Cardiv{
  .text{
    text-align: center;
    width: 100px;
    color: grey;
    font-size: 1.5em;
        }
  }
  .coneqt{
    height: 100px;
    display: flex;
    align-items: center;
  .line{
    width: 15vh;
    height: 1vh;
    border-radius: 20px;
    background-color: silver
     ;
  }
  }
  .footer{
    width: 100%;
    border-top: 3px solid silver;
     position: relative;
    .mony{
      width: 40%;
      position: absolute;
      right: 50px;
      ion-grid{
        ion-row{
          width: 100%;
          ion-col{
            display: flex;
            align-items: center;
            span{
              font-size: 2em;
            color:grey;
          }
             
    .price{
      position: absolute;
      background-color: silver;
      border-radius: 5px;
      height: 55px;
      width: 80px;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      display: flex;
    div{
      border-radius: 50%;
      background-color: white;
      height: 30px;
      margin: 0 auto;
      width: 30px;
      color: gray;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }
  }
  .promo{
   
      background-color: silver;
      border-radius: 5px;
      height: 55px;
      width: 80px;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      display: flex;
      color: white;
      font-size: 2.5em;
      p{
        margin: 0 auto;
      }
  }
  }
}
}
      }
    }
  }



