page-map {
  ion-content{
    .scroll-content{
      overflow: hidden
    }
    .add-button{
      position: absolute;
      z-index: 5;
      height: 50px;
      width: 50px;
      top: -75px;
      right: 81px;
      box-shadow:0 1px 12px rgba(0, 0, 0, 0.3);
    }
    .open{
      display:none;
      margin:0;
      
    }
   .color-button{
    .button-inner{
      color: red
    } 
   }
    .plane{
        color: #FF435C;         
         } 
  

      .bot {
        position: absolute;
        height: 263px;
        width: 100%;
        bottom: -220px;
        background: white; 
        transition: bottom 1s;
        z-index: 99999999
      }
      .bottom{
        bottom: 0;
        position: absolute;
        height:263px;
        width: 100%; 
        background: white; 
        transition: bottom 1s;
        z-index: 99999999
       }
     
    
#map{
    height: 100%;
     width: 100%
}
.button-ios, .button-md{
    color: #999;
    background-color: white;
}
.button-ios.activated, .button-md.activated{
  background-color: white;
}
.content{
 position: absolute;
 z-index: 999999;
 height: 100%;
 width: 100%;
  
}
.menuopen{
  z-index:9999999;
  position:absolute;
   top:0; 
   left:0  
}
.orderCar{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: LightGray ;
  display: flex;
  align-items: center;
  ion-icon{
    font-size: 55px;
    color: #6b0b0b;
    margin: 0 auto;
  }
}

.messege-grid{
  padding: 0
}

ion-grid{ 
 
  ion-row{
  margin: 0 auto
  }
  }
  .Cardiv{
    .text{
      text-align: center;
      width: 100px;
      color: grey;
      font-size: 1.5em;
          }
    }
    .connect{
      height: 110px;
      display: flex;
      align-items: center;
    .line{
      width: 100px;
      height: 7px;
      border-radius: 20px;
      background-color: silver
      ;
    }
    }
    .footer{
      
     // border-top: 3px solid silver;
      
        .order-button{
          height: 50px;
          width: 100%;
          float: right;
          background-color: #999;
          margin: 0;
          color: white;
          margin-top: 5px
        }
      }
      .button-ios.activated{
        background-color: white;
        opacity: 0;
      }   
  }
  *[center]{
    text-align: center
  }
  }


/*
 .messege-grid{
    flex-direction: column-reverse;
    height: 35vw;
    width: fit-content;  
    position: absolute;
    right: 20px;
    top: -48vw;
    .row{
      margin: 1vw 0;
      .col{

         
          .pickup-locetion{
            background-color: white;
            width: 34vw;
            height: 6vw;     
            border-radius: 10px;
            box-shadow: 0px 0px 20px 6px silver;
            display: flex;
            align-items: center;
            .on-icon{
              background-color: #1feb88;
              border-radius: 50%;
              height: 20px;
              width: 20px;
              margin: 16px
            }
            div{            
             .pickup{
                margin: 0;
                color: grey;
             }
             .order{
               font-size: 1.2em;
               margin: 0
             }
               
              }
              animation: card-animation 0.3s;
            }
            .pickup-locetion-delete{
              background-color: white;
              width: 35vw;
              height: 8vw;
              border-radius: 10px;
              box-shadow: 0px 0px 20px 6px silver;
              display: flex;
              align-items: center;
              .on-icon{
                background-color: #1feb88;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                margin: 16px
              }
              div{            
               .pickup{
                  margin: 0;
                  color: grey;
               }
               .order{
                 font-size: 1.5em;
                 margin: 0
               }
                 
                }
                animation: card-animation-delete 0.01s;
              }
            @keyframes card-animation {
              0%{opacity: 0};
              100%{opacity: 1};
            }
            @keyframes card-animation-delete {
              0%{opacity: 1};
              100%{opacity: 0};
            }
          
      }
    }

} 
*/
