page-drive-information {
 
    ion-content{
        page-lines .connection-lines{
           
            left: 5px;
    top: 15px;
        }
        .map-col{
            max-width: fit-content;
            width: fit-content;
        
        #map{
            height: 37vh;
            width: 35vh;
            float: left;
        }
    }
    .users-col{
        height: fit-content;
        max-height: fit-content;
       
    }
        .scroll-content{
            padding: 25px;
            overflow: hidden
        }
        ion-row{
            [col-2]{
                width: fit-content;
                max-width: fit-content;
                position: relative;
               
            }
            
            .place{
                color: grey;
                font-size: 0.9em
            }
            .place-name{
                font-size: 1.2em
            }
           
        
          ion-icon{
             
              color: #1feb88;
              font-size: 1.8em; 
          }
            
                .on-icon{
                    background-color: #1feb88;
                    border-radius: 50%;
                    height: 15px;
                    width: 15px;   
                }
               
            
               
             
        
        }
        .inform{
            margin-top: 6vh;
            
            .colinform{
                display: flex;
                padding: 0;
                align-items: center;
              }     
              .cash{
                padding-left: 3vh;
                span{
                    margin-left: 4vh;                    
                    font-size: 1.8em;
                }
            }     
            ion-icon{
                color:black;
                font-size: 3em;
            }
            .ul {
                padding: 0px !important;  
                .rating{ margin: 0px !important;   } 
             
                .rating li {
                    padding: 0px !important;
                                        
                  ion-icon {
                    font-size: 3vh;       
                    color: #ffb400;
                     
                  }
                }
            }
              }
              .driverfoto{
                  height: 10vh;
                  width: 10vh;
                  border-radius: 50%;
                  background-position: center;
                  background-size: cover;
                  float: left;
                  margin-right: 2vh;

              }
              .driverinformation{                 
                  color: gray;
                  font-size: 1.4em;
                  margin-top: 2vh;
              }
              span{
                font-size: 1.2em;
                color: gray;
                margin-left: 2vh;
              }
        }
      
        .users{
           text-align: center;
            .image-users{
                height: 12vh;
                width: 12vh;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
    
            }
            .name-users{
                font-size: 2em;
                margin-top: 2vh;
            }
        }
     
    
    } 
    
    
    