page-menu {
    .scroll-content{
        overflow: hidden
    }
  ion-content{
     
    ion-icon{
        font-size: 2.2em;
    }
    .photo-user{
        background-image: url('../../assets/imgs/girl.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 8vh;
        background-size: cover;
        width: 8vh;
        border-radius: 50%;
        margin: 0 auto;
        border: 2px solid white;

    }
    
.taxi-image{
    background-image: url('../../assets/imgs/taxi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: absolute;
        top: 0;
      
    .photo-information-user{
        text-align: center;
        margin-bottom: 8vh;
        margin-top: 3vh;
   
    } 
    .label{
        margin: -3px 8px 11px 0;
    }
    .item ion-icon[item-left], .item ion-icon[item-right], .item ion-icon[item-start], .item ion-icon[item-end]{
        margin-top: -5px;

    }
}



    .toolbar-content{
        margin-bottom: -4px;
        position: relative;
    }
   
    .setting-icon{
        position: absolute;
        right: 3vw;
        bottom: 2vw;
        color: white;
        font-size: 2vw;
    }
 
        .sign-out{
            margin-top: 14vh;
            text-align: center;
            color: grey;
            background: none;
            font-size: 1.1em;
        
       
    }
        .identity{
            color: white;
            margin-top: 1vh;
        
            
            p{
                margin: 0;
            }
        }
        .nobackground{
            background: none;
            color: white;
            height: 8vh;
            ion-icon{
                color: whitesmoke
            }
            
        }



        .checked-menu{
            background-color: rgba(39, 10, 16, 0.8)
        }
        .item.activated{
            background:none
        }
       
    
}
*[p1-size]{
    font-size: 1em
}
*[p2-size]{
    font-size: 0.8em
}
}
