<ion-menu side="left" type="overlay" [content]="content">
        <ion-content>
                <div class="taxi-image"  >
                        <div class="photo-information-user" >
                                <div class="photo-manager" *ngIf="hotelService.hotelInfo?.contactPersonImagePath" [ngStyle]="{'background-image':fileUrl+hotelService.hotelInfo.contactPersonImagePath | image}"></div>
                                
                               
                                <div class="identity" *ngIf="hotelService.hotelInfo?.contactPersonFirstName">
                                        <p p1-size >{{hotelService.hotelInfo.contactPersonFirstName}} {{ hotelService.hotelInfo.contactPersonLastName}}</p>                                     
                                        <p p2-size >{{hotelService.hotelInfo.phoneNumber }}</p>                                        
                                </div>
                                
                        </div>
                        <button ion-item *ngFor="let page of pages" class="nobackground" menuClose  (tap)="openPage(page)"
                                detail-none>
                                <ion-icon [name]="page.iconsName" item-start color="danger"></ion-icon>
                                <ion-label>{{page.pageName}}</ion-label>
                        </button>
                        <button ion-item no-lines detail-none class="sign-out" (tap)="SignOut()"> Sing Out</button>
                </div>
        </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
